*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(https://img.freepik.com/fotos-gratis/concreto-texturizado-branco_125540-1826.jpg);
    background-size: cover;
    background-position: center, center;
}

header{
    background-color: #fff;
}
header img{
    display: block;
    padding: 30px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #B91817;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0 15px 20px 10px #B91817;
}

nav a{
    padding: 0 30px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
a:hover{
    transform: scale(1.2);
    transition-duration: .3s;
}

main{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #fff;
    border-radius: 10px;
}

main img{
    width: 300px;
    height: 400px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.250);
}

@media screen and (max-width: 1540px) and (min-width: 1130px){
    main{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1130px) and (min-width: 720px){
    main{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 720px){
    main{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 630px) {
    header img{
        padding: 30px 10px;
        width: 300px;
    }
    nav{
        padding: 15px 10px;
    }
    nav a{
        padding: 0 8px;
        font-size: 13px;
    }
}
