*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

div{
    margin: 30px;
}

img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgb(90, 90, 90);
    transition: width .5s, border-radius .5s;
}


#face:hover{
    width: 120px;
    height: 50px;
    border-radius: 50px;
    transition: width .5s, border-radius .5s;
}
#twi:hover{
    width: 120px;
    height: 50px;
    border-radius: 50px;
    transition: width .5s, border-radius .5s;
}
#you:hover{
    width: 120px;
    height: 50px;
    border-radius: 50px;
    transition: width .5s, border-radius .5s;
}
#git:hover{
    width: 120px;
    height: 50px;
    border-radius: 50px;
    transition: width .5s, border-radius .5s;
}
#insta:hover{
    width: 120px;
    height: 50px;
    border-radius: 50px;
    transition: width .5s, border-radius .5s;
}
