@charset "UTF-8";

body{
    background-image: linear-gradient(to left, #0A8998, #02718D, #003060);
    position: relative;
}

img{
    width: 50px;
    margin-left: 50%;
    margin-top: 100px;
    position: absolute;
    transform:translate(-50%, -50%) ;
}

div{
    position: relative;
    background-color: white;
    max-width: 560px;
    min-width: 350px;
    height: 330px;
    margin: auto;
    padding: 20px;
    margin-top: 200px;
}

iframe{
    position: absolute;
    top:5%;
    left: 5%;
    width: 90%;
    height: 90%;
}