@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #D5DFE5, #2A9D8F, #494947);
}

img{
    width: 600px;
    margin: 45px;
}
div{
    background-color: #fff;
    width: 700px;
    border-radius: 10px;
    margin: auto;
    margin-top: 70px;
    box-shadow: 5px 5px 5px #144943;
}

