@charset "UTF-8";

body{
    background-image: linear-gradient(to left, #D5C499, #B17761, #7D2A1C);
}

img{
    width: 50px;
    margin-left: 920px;
    margin-top: 20px;
}

div{
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 20px;
    margin-top: 200px;
}