@charset "UTF-8";

body{
    background-image: linear-gradient(to left, #D5C499, #B17761, #7D2A1C);
    position: relative;
}

img{
    width: 50px;
    margin-left: 50%;
    margin-top: 100px;
    position: absolute;
    transform:translate(-50%, -50%) ;
}

div{
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 20px;
    margin-top: 200px;
}