*{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p{
    color: rgb(160, 160, 160);
    line-height: 30px;
    font-size: 1.1em;
}
header{
    text-align: center;
    padding: 60px;
    background-image: url(image/bg-header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    padding: 40px;
}
nav{
    text-align: center;
}
nav a{
    text-decoration: none;
}
.download{
    color: #fff;
    display: inline-block;
    width: 200px;
    padding: 15px 0px;
    margin: 20px;
    border-radius: 30px;
}
#ios{
    background-color: #51CFB7;
    border-bottom: 3px #389685 solid;
}
#mac{
    background-color: #6575F0;
    border-bottom: 3px #434ea5 solid;
}
h2{
    text-align: center;
    margin: 130px 0px 20px 0px;
}
.p_for_h2{
    text-align: center;
    margin: auto;
    width: 800px;
    margin-bottom: 110px;
}
#tablet_cell{
    display: block;
    margin: auto;
    width: 56%;
}
#computer{
    position: relative;
    right: 35px;
    width: 55%;
}
#rigth_computer{
    margin-top: 50px;
    margin-left: 5%;
    position: absolute;
    max-width: 525px;
    min-width: 300px;
    height: 400px;
    display: inline-block;
}
#rigth_computer h3{
    margin: 10px 0px;
}
#rigth_computer p{
    margin-bottom: 50px;
}
#aside{
    display: flex;
    justify-content: space-evenly;
}
#aside div{
    width: 400px;
}
.img_aside{
    margin: auto;
    display: block;
    padding: 50px;
}
#aside div h3{
    text-align: center;
    margin-bottom: 15px;
}
#aside div p{
    text-align: center;
}
aside nav{
    text-align: center;
    margin-bottom: 150px;
}
aside nav a{
    text-decoration: none;
}
footer{
    background-color: lightgrey;
}
#logo_aside{
    width: 70px;
}

@media screen and (min-width: 935px) and (max-width: 1100px) {
    #rigth_computer{
        bottom: -150px;
    }
}