@charset "UTF-8";
@font-face {
    font-family: passion;
    src: url(fonts/GoogleFonts-PassionOne-Regular.ttf) format("truetype");
}
@font-face {
    font-family: sriracha;
    src: url(fonts/Sriracha-Regular.ttf) format("truetype"); 
}
:root{
    --font1: passion, cursive;
    --font2: sriracha, cursive;
}


header > p,footer > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}


header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
h1{
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--font1);
    margin: 20px;
}


section{
    font-family: var(--font2);
    line-height: 1.5em;
    padding-left: 60px;
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: 3vw;
}
.image{
    background-color: rgb(48, 48, 48);
    color: white;
    background-attachment: fixed;
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.5);
}
#img1{
    background-image: url(images/background001.jpg);
    background-position: center right;
}
#img2{
    background-image: url(images/background002.jpg);
}
.image > p{
    background-color: rgba(43, 43, 43, 0.473);
    padding: 10px;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
footer > p{
    margin: 0px;
}