@charset "UTF-8";
@font-face {
    font-family: passion;
    src: url(fonts/GoogleFonts-PassionOne-Regular.ttf) format("truetype");
}
@font-face {
    font-family: sriracha;
    src: url(fonts/Sriracha-Regular.ttf) format("truetype"); 
}
:root{
    --font1: 'passion', cursive;
    --font2: 'sriracha', cursive;
}


header > p,footer > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}


header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
h1{
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--font1);
    margin: 20px;
}


section{
    font-family: var(--font2);
    line-height: 2em;
    padding-left: 25px;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 3vw;
}
.image{
    background-color: rgb(48, 48, 48);
    color: white;
}
.image > p{
    background-color: rgba(128, 128, 128, 0.473);
    padding: 10px;
    display: inline-block;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
footer > p{
    margin: 0px;
}