@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #23527e;
    position: relative;
}
main{
    width: 400px;
    height: 675px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;

    transition: width .4s, height .4s;
    transition-timing-function: ease;
}
#image{
    display: block;
    background-image: url(image/pexels-sean-whang-804269.jpg);
    height: 300px;
}
#form{
    display: block;
    padding: 20px;
}
label{
    display: none;
}
i{
    color: white;
    font-size: 2em;
    padding: 8px;
    width: 35px;
    box-sizing: border-box;
}
.nome-senha{
    width: calc(95% - 35px);
    height: 25px;
    border-radius: 8px;
    transform: translateY(-7px);
    background-color: rgba(193, 225, 255, 0.993);
    font-size: 1.0em;
    padding: 0px 3px;
}
.camp{
    background-color: #1c3f5f;
    border: 5px;
    margin: 8px 0px;
    height: 40px;
    border-radius: 8px;
}
#submit{
    display: block;
    width: 82%;
    margin: auto;
    height: 34px;
    margin-top: 15px;
    background-color:rgb(71, 126, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
#submit:hover{
    background-color: rgb(35, 75, 112);
}
a{
    text-decoration: none;
    height: 34px;
    border: 2px solid #23527e;
    display: block;
    width: 82%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
}
a:hover{
    background-color: rgb(104, 162, 216);
}