body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #5DFDCB 0%,  #90D7FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
caption{
    font-size: 3em;
    margin-bottom: 1em;
}
table{
    border-collapse: collapse;
    margin: 50px 10px;
    background-color: #cca9dd;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    color: #eeeeee;
}
td{
    border: 1px solid black;
    font-size: 22px;
    padding: 0.8em;
    text-align: center;
}

.seg{
    background-color:  #ff6961;
}
.ter{
    background-color:  #f67828;
}
.qua{
    background-color:  #fdfd96;
}
.qui{
    background-color:   #c6e5b1;
}
.sex{
    background-color:  #80cee1;
}

@media screen and (max-width: 970px) and (min-width: 815) {
    table{
        font-size: 16px;
        font-weight: 500;
    }
    td{
    padding: 0.3em;
    }
}

@media screen and (max-width: 815px) {
    body{
        height: auto;
    }
    table{
        font-size: 12px;
        font-weight: 400;
        width: 90%;
    }
    td{
    padding: 0.2em;
    }
}